# Ignore everything
*

# Allow only what we need
!hedera-node/hedera-app/build/libs/app-0.73.0-SNAPSHOT.jar
!hedera-node/data/lib/
!SimpleERC20.bin
!MockSupraOraclePull.bin
!LambdaplexFeeCollector.bin
!SaucerSwapWHBAR.bin
!SaucerSwapV2HbarConversion.bin
!SaucerSwapV2TickMath.bin
!SaucerSwapV2SwapMath.bin
!SaucerSwapV2Oracle.bin
!SaucerSwapV2BitMath.bin
!SaucerSwapV2Factory.bin
!SaucerSwapV2SwapRouter.bin
!SaucerSwapV2Quoter.bin
!SaucerSwapV2Bootstrapper.bin
!hedera-node/log4j2.xml
!hedera-node/config.txt
!hedera-node/data/keys/generate.sh
!hedera-node/data/config/api-permission.properties
!hedera-node/configuration/dev/genesis-network.json
